/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

.title {
	font-size: 46px;
	font-weight: normal;
	margin-top: 40px;
}
.subtitles {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 45px;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}

.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:top;
	text-align:center;
}

/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
	color:#ffffff;
    text-align:center;
}
.not-fullscreen {
    height:50%;
}

.block {
	background-color: rgba(0, 0, 0, 0.25);
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 10px;
}

.block-dark {
	background-color: rgba(0, 0, 0, 0.4);
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 10px;
}

.content {
	background-color: rgba(0, 0, 0, 0.20);
	text-align: left;
	padding: 10px;
}

.content img {
	border: 3px solid rgba(0, 0, 0, 0.3);
	width: 130px;
	height: 130px;
	float: left;
	margin-right: 20px;
}
.content .title {
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.content .description {
	font-size: 14px;
	text-align: justify;
}

.content .link {
	font-size: 14px;
	text-align: center;
}

.content .link a {
	color: white;
	font-weight: bold;
}

ul {
	margin-top: 45px;
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: normal;
}
li {
	display: inline;
	list-style: none;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 22px;
}
li a {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 12px 40px 12px 40px;
	color: white;
	text-decoration: none;
}
li a:hover, li a:focus {
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgba(0, 0, 0, 0.3);
	color: white;
	padding: 7px 35px 7px 35px;
	text-decoration: none;
}

.links {
	margin-top: 3px;
	margin-left: 25px;
	margin-right: 25px;
	height: 50px;
	width: 50px;
    display: inline-block;
}

.links.github {
	background: url('../img/github.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.facebook {
	background: url('../img/facebook.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.linkedin {
	background: url('../img/linkedin.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.email {
	background: url('../img/email.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.github:hover {
	background: url('../img/github_dark.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.facebook:hover {
	background: url('../img/facebook_dark.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.linkedin:hover {
	background: url('../img/linkedin_dark.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.links.email:hover {
	background: url('../img/email_dark.png');
	background-size: 50px 50px;
    background-repeat: no-repeat;
}

.spaced-top {
	margin-top: 30px;
}

.content .main-title {
	font-size: 26px;
	margin: 13px 15px 20px 15px;
}

.btn-submit {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 7px 20px 7px 20px;
	color: white;
	border: 4px solid rgba(255, 255, 255, 0.3);
}

.btn-submit:hover {
	background-color: rgba(255, 255, 255, 0);
}