{% extends "FLPublicBundle::layout.html.twig" %}

{% block body %}
	<div class="block">
		<div class="content">
			<img src="http://givemeasong.com/img/logo_fb.png">
			<div class="title">Give me a Song!</div>
			<p class="description">
				Tu ne sais jamais quoi écouter ? Tu as envie de découvrir de nouveaux sons ? Give me a Song te propose des centaines de titres organisées en différentes playlists prédéfinies !
    		</p>
    		<p class="link">
    			<a href="http://www.givemeasong.com" target="_blank">http://www.givemeasong.com</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>
	<div class="block">
		<div class="content">
			<img src="https://scontent-a-ams.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1621787_416991985070513_1499300419_n.png?oh=02be622ad6f7db12ced13ee403dce0b0&oe=55356CAA">
			<div class="title">Znieh Games</div>
			<p class="description">
				Znieh Games est un studio de jeux vidéo travaillant actuellement sur un jeu de stratégie multijoueur innovant dans lequel vous pourrez pousser la personnalisation de vos personnages au maximum !
    		</p>
    		<p class="link">
    			<a href="http://demo.zniehgames.com" target="_blank">http://www.zniehgames.com</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>
	{#<div class="block">
		<div class="content">
			<img src="http://givemeasong.com/img/logo_fb.png">
			<div class="title">Stuff Manager</div>
			<p class="description">
				Stuff Manager est un petit outil permettant de gérer ses projets, les tâches à effectuer dans ces projets, ses serveurs ainsi qu'un accès rapide à ses snippets.
    		</p>
    		<p class="link">
    			<a href="http://www.givemeasong.com" target="_blank">http://www.stuffmanager.com</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>#}
	{#<div class="block">
		<div class="content">
			<img src="http://givemeasong.com/img/logo_fb.png">
			<div class="title">niktabox</div>
			<p class="description">
				Stuff Manager est un petit outil permettant de gérer ses projets, les tâches à effectuer dans ces projets, ses serveurs ainsi qu'un accès rapide à ses snippets.
    		</p>
    		<p class="link">
    			<a href="http://www.givemeasong.com" target="_blank">http://www.niktabox.fr</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>#}
{% endblock %}