{% extends "FLPublicBundle::layout.html.twig" %}

{% block body %}
	<div class="block">
		<div class="content">
			<img src="http://givemeasong.com/img/logo_fb.png">
			<div class="title">Give me a Song!</div>
			<p class="description">
				Tu ne sais jamais quoi écouter ? Tu as envie de découvrir de nouveaux sons ? Give me a Song te propose des centaines de titres organisées en différentes playlists prédéfinies !
    		</p>
    		<p class="link">
    			<a href="http://www.givemeasong.com" target="_blank">http://www.givemeasong.com</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>
	<div class="block">
		<div class="content">
			<img src="{{ asset('bundles/flpublic/img/slothbox.png') }}">
			<div class="title">SlothBox</div>
			<p class="description">
				SlothBox est un service web mettant à disposition des SeedBox à des prix compétitifs, doté d'une interface simple d'utilisation !
    		</p>
    		<p class="link">
    			<a href="http://slothbox.fr" target="_blank">http://slothbox.fr</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>
	{#<div class="block">
		<div class="content">
			<img src="http://givemeasong.com/img/logo_fb.png">
			<div class="title">Stuff Manager</div>
			<p class="description">
				Stuff Manager est un petit outil permettant de gérer ses projets, les tâches à effectuer dans ces projets, ses serveurs ainsi qu'un accès rapide à ses snippets.
    		</p>
    		<p class="link">
    			<a href="http://www.givemeasong.com" target="_blank">http://www.stuffmanager.com</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>#}
	{#<div class="block">
		<div class="content">
			<img src="http://givemeasong.com/img/logo_fb.png">
			<div class="title">niktabox</div>
			<p class="description">
				Stuff Manager est un petit outil permettant de gérer ses projets, les tâches à effectuer dans ces projets, ses serveurs ainsi qu'un accès rapide à ses snippets.
    		</p>
    		<p class="link">
    			<a href="http://www.givemeasong.com" target="_blank">http://www.niktabox.fr</a>
    		</p>
			<div style="clear: both;"></div>
    	</div>
    </div>#}
{% endblock %}