<div class="panel">
  <div class="panel-body">
    <div class="blog-post">
      <h3>category</h3>
      <ul>
        {% for category in categories %}
          <li><a href="#/{{ category.id }}"><i class=" fa fa-angle-right"></i> {{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>